---
layout: default
title: Melle Dijkstra
CVFile: '/files/Melle-Dijkstra-Resume.pdf'
---
<style>
    #page-content {
        position: relative;
        background-color: #070909;
        color: #fefefe;
    }

    [class*='LI-badge-container'] {
        margin-top: 10px;
        text-align: left;
    }
</style>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div id="resume-page">
    <div id="slanted-box">
        <div class="row more-padding">
            <div class="col col-xs-12"><span class="text-lg">Hi! <i class="mdi mdi-emoticon-excited"></i></span></div>
        </div>
        <div class="row more-padding margin-tb-10">
            <div class="col col-lg-6 col-md-6">
                <p>
                    My name is <strong>Melle Dijkstra</strong>. Experienced <b>Software Engineer</b> with 5 years of
                    demonstrated history of working in the computer software
                    industry. with diverse <b>hard</b> and <b>soft</b> skills developed through various
                    projects including <b>Team Leadership</b> and <b>Software Architecture</b>.
                </p>
                <p>Working with computer science tools to create better solutions for the world.</p>
            </div>
            <div class="col col-xs-12 col-md-6 margin-t-20">
                <ul id="contact-list" class="list-unstyled" style="max-width: 300px;">
                    <li><i class="mdi mdi-phone"></i> <a href=""
                                                         style="text-shadow: 0 0 6px #1f201e;color: transparent;">(+12)345678910</a>
                    </li>
                    <li><i class="mdi mdi-email"></i> <a href=""
                                                         style="text-shadow: 0 0 6px #1f201e;color: transparent;">example@gmail.com</a>
                    </li>
                    <li><i class="mdi mdi-download"></i> <a target="_blank" href="/files/Melle-Dijkstra-Resume.pdf">Download
                        Resume</a></li>
                    <li style="font-size: 13px;">Email and phone deliberately not stated here anymore out of security
                        reasons, <a href="https://linkedin.com/in/melledijkstra/" target="_blank">please contact me on
                            LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="relative">
        <img id="photo-of-myself" src="assets/images/resume/linkedin-photo.jpeg" alt="Personal photo"/>
    </div>
    <div id="resume-part-2" class="container-fluid padding-tb-20">
        <div class="row more-padding">
            <div class="col col-sm-12 col-md-6">
                <h3>· Skills</h3>
                <ul class="list-unstyled">
                    {% for skill in site.data.resume.skills %}
                    <li>
                        <div class="margin-tb-20">
                            <p class="no-margin">{{ skill.name }} <sub class="text-lightgrey">({{ skill.level }})</sub>
                            </p>
                            <small class="no-margin text-lightgrey">{{ skill.desc }}</small>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <p class="margin-tb-20">
                    <small class="text-sm">
                        These skills are demonstrated in the <a href="/writing/science">stories</a> I write on
                        this site.
                    </small>
                </p>
            </div>
            <div class="col col-sm-12 col-md-6">
                <h3>· Education</h3>
                <table class="resume-table">
                    <tbody>
                    <tr>
                        <td>
                            <a target="_blank" href="https://www.hanze.nl/eng">
                                <img class="resume-logo grayscale" src="assets/images/resume/logo-hanze.png"
                                     alt="Logo Hanzehogeschool Groningen"/>
                            </a>
                        </td>
                        <td>
                            <h4>Hanze Hogeschool Groningen</h4>
                            <p>
                                <small>Computer and Information Sciences, Bachelor of Science</small>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h3>· Experience</h3>
                <table class="resume-table">
                    <tbody>
                    <tr>
                        <td>
                            <a target="_blank" href="{{ page.CVFile }}">
                                <i class="mdi mdi-download" style="font-size: 70px;"></i>
                            </a>
                        </td>
                        <td>
                            <a target="_blank" href="{{ page.CVFile }}"><h4>Download Resume</h4></a>
                            <p>
                                <small>Read more experiences in my resume</small>
                            </p>
                        </td>
                    </tr>
                    {% for experience in site.data.resume.experiences %}
                    <tr>
                        <td>
                            {% if experience.url %}
                            <a target="_blank" href="{{experience.url}}">
                                {% endif %}
                                <img class="resume-logo grayscale" src="{{experience.image}}"
                                     alt="Logo {{experience.title}}"/>
                                {% if experience.url %}
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            <h4>{{experience.title}}</h4>
                            <p>
                                <small>{{experience.desc}}</small>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="text-center">
                    <p>Please <a target="_blank" href="{{ page.CVFile }}">download<i class="mdi mdi-download"></i></a>
                        my resume for more in-depth information about my experiences</p>

                    <div class="LI-profile-badge text-center" data-version="v1" data-size="medium" data-locale="en_US"
                         data-type="horizontal" data-theme="dark" data-vanity="melledijkstra">
                        <a class="LI-simple-link" href='https://linkedin.com/in/melledijkstra?trk=profile-badge'>Melle
                            Dijkstra</a></div>
                </div>
            </div>
        </div>
        <!-- Unsplash Credits -->
        <div class="margin-tb-10 text-center">
            <small>
                Background by <a target="_blank"
                                 href="https://unsplash.com/photos/fUd_0iyYFVg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joshua
                Newton</a> on <a target="_blank"
                                 href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </small>
        </div>
    </div>
</div>
