---
layout: default
title: Melle Dijkstra
CVFile: '/files/Melle-Dijkstra-Resume.pdf'
head_css:
- '/assets/css/about.css'
---
<style>
    #page-content {
        position: relative;
        background-color: #070909;
        color: #fefefe;
    }

    .iframe {
        border-radius: 20px;
        width: 100%;
        min-height: 500px;
        height: 100%;
    }
</style>
<div id="resume-page">
    <div id="slanted-box">
        <div class="row more-padding">
            <div class="col col-xs-12"><span class="text-lg">Hi! <i class="mdi mdi-emoticon-excited"></i></span></div>
        </div>
        <div class="row more-padding margin-tb-10">
            <div class="col col-lg-6 col-md-6">
                <p>
                    My name is <strong>Melle Dijkstra</strong>. Experienced <b>Software Engineer</b> with years of
                    demonstrated history of working in the communication and informatics industry
                    with diverse <b>hard</b> and <b>soft</b> skills developed through various
                    projects including <b>Team Leadership</b> and <b>Software Architecture</b>.<br />
                    🌍 Global development and 🤝🏼 social innovation makes me excited 😎. Proud to be a global citizen
                    thinking without borders and limits.
                </p>
                <p>Personal tagline: <i>"ICT for global development & social good"</i>.</p>
            </div>
            <div class="col col-xs-12 col-md-6 margin-t-20">
                <ul id="contact-list" class="list-unstyled" style="max-width: 300px;">
                    <li><i class="mdi mdi-phone"></i> <a href=""
                                                         style="text-shadow: 0 0 6px #1f201e;color: transparent;">(+12)345678910</a>
                    </li>
                    <li><i class="mdi mdi-email"></i> <a href=""
                                                         style="text-shadow: 0 0 6px #1f201e;color: transparent;">example@gmail.com</a>
                    </li>
                    <li><i class="mdi mdi-download"></i> <a target="_blank" href="/files/Melle-Dijkstra-Resume.pdf">Download
                        Resume</a></li>
                    <li style="font-size: 13px;">Email and phone deliberately not stated here anymore out of security
                        reasons, <a href="https://linkedin.com/in/melledijkstra/" target="_blank">please contact me on
                            LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="relative">
        <img id="photo-of-myself" src="assets/images/resume/profile-photo.jpg" alt="Personal photo"/>
    </div>
    <div id="resume-part-2" class="container-fluid padding-tb-20">
        <div class="row more-padding">
            <div class="col col-sm-12 col-md-6 text-center relative">
                <p>There used to be tweets here, then it got changed to X...</p>
                <p>Enjoy some Trigonometry instead :)</p>
                <iframe class="iframe" src="/sketches/Trigonometry/index.html"></iframe>
            </div>
            <div class="col col-sm-12 col-md-6">
                <h3>· Education</h3>
                <table class="resume-table">
                    <tbody>
                    <tr>
                        <td>
                            <a target="_blank" href="https://www.hanze.nl/eng">
                                <img class="resume-logo filter-grayscale" src="assets/images/resume/logo-hanze.png"
                                     alt="Logo Hanzehogeschool Groningen"/>
                            </a>
                        </td>
                        <td>
                            <h4>Hanze Hogeschool Groningen</h4>
                            <p>
                                <small>Computer and Information Sciences, Bachelor of Science</small>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h3>· Experience</h3>
                <table class="resume-table">
                    <tbody>
                    <tr>
                        <td>
                            <a target="_blank" href="{{ page.CVFile }}">
                                <i class="mdi mdi-download" style="font-size: 70px;"></i>
                            </a>
                        </td>
                        <td>
                            <a target="_blank" href="{{ page.CVFile }}"><h4>Download Resume</h4></a>
                            <p>
                                <small>Read more experiences in my resume</small>
                            </p>
                        </td>
                    </tr>
                    {% for experience in site.data.resume.experiences %}
                    <tr>
                        <td>
                            {% if experience.url %}
                            <a target="_blank" href="{{experience.url}}">
                                {% endif %}
                                <img class="resume-logo filter-grayscale" src="{{experience.image}}"
                                     alt="Logo {{experience.title}}"/>
                                {% if experience.url %}
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            <h4>{{experience.title}}</h4>
                            <p>
                                <small>{{experience.desc}}</small>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="text-center">
                    <p>Please <a target="_blank" href="{{ page.CVFile }}">download<i class="mdi mdi-download"></i></a>
                        my resume for more in-depth information about my experiences</p>
                </div>
            </div>
        </div>
        <!-- Unsplash Credits -->
        <div class="margin-tb-10 text-center">
            <small>
                Background by <a target="_blank"
                                 href="https://unsplash.com/photos/fUd_0iyYFVg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joshua
                Newton</a> on <a target="_blank"
                                 href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </small>
        </div>
    </div>
</div>
