<div id="sidebar-wrapper">
    <h1 class="text-center"><a class="no-link petit" href="/">Dijkstra<span class="brand-dot">.</span></a><br/>
        <small id="subtitle">{{ site.tagline }}</small>
    </h1>
    <ul class="sidebar-nav">
        {% for collection in site.collections %}
            {% if collection.label == 'posts' %}
                {% continue %}
            {% endif %}
            {% assign coll_url = '/writing/' | append: collection.label %}
            <li>
                <a href="{{ coll_url }}"><i class="mdi mdi-atom"></i> <span
                        class="text-right">{{ collection.label }}</span></a>
            </li>
        {% endfor %}
        <li>
            <a href="/"><i class="mdi mdi-account-card-details"></i> <span
                    class="text-right">About</span></a>
        </li>
    </ul>

    <!-- SOCIAL MEDIA -->
    <div class="margin-tb-20 text-lg text-center social-buttons">
        <a class="github" target="_blank" href="https://github.com/melledijkstra"><span
                class="mdi mdi-github-circle"></span><span class="hidden">My github account</span></a>
        <a class="linkedin" target="_blank" href="https://linkedin.com/in/melledijkstra"><span
                class="mdi mdi-linkedin"></span><span class="hidden">My linkedin account</span></a>
        <a class="stackoverflow" target="_blank"
           href="https://stackoverflow.com/users/3298540/melle-dijkstra"><span
                class="mdi mdi-stackoverflow"></span><span
                class="hidden">My stackoverflow account</span></a>
        <a class="spotify" target="_blank"
           href="https://open.spotify.com/user/1187898094?si=54znvX5hRvaQjFeh5M3cvQ"><span
                class="mdi mdi-spotify"></span><span
                class="hidden">My spotify account</span></a>
    </div>
    <div class="text-center">
        <small>
            Copyright &copy; 2016 - Melle Dijkstra<br/>
            All rights reserved
        </small>
    </div>
</div>