<div id="sidebar-wrapper">
    <h1 class="text-center"><a class="no-link" href="/">Dijkstra<span class="brand-dot">.</span></a><br/>
        <small>{{ site.subtitle }}</small>
    </h1>
    <ul class="sidebar-nav">
        <li>
            <a href="/writing"><i class="mdi mdi-pencil"></i> <span
                    class="text-right">Writing</span></a>
        </li>
        <li>
            <a href="/projects"><i class="mdi mdi-book-open-page-variant"></i> <span
                    class="text-right">Projects</span></a>
        </li>
        <li>
            <a href="/"><i class="mdi mdi-account-card-details"></i> <span
                    class="text-right">Resume</span></a>
        </li>
    </ul>

    <!-- SOCIAL MEDIA -->
    <div class="margin-tb-20 text-lg text-center social-buttons">
        <a class="github" target="_blank" href="https://github.com/melledijkstra"><span
                class="mdi mdi-github-circle"></span><span class="hidden">My github account</span></a>
        <a class="twitter" target="_blank" href="https://twitter.com/dijkstrascience"><span
                class="mdi mdi-twitter"></span><span class="hidden">My twitter account</span></a>
        <a class="linkedin" target="_blank" href="https://linkedin.com/in/melledijkstra"><span
                class="mdi mdi-linkedin"></span><span class="hidden">My linkedin account</span></a>
        <a class="stackoverflow" target="_blank"
           href="https://stackoverflow.com/users/3298540/melle-dijkstra"><span
                class="mdi mdi-stackoverflow"></span><span
                class="hidden">My stackoverflow account</span></a>
    </div>
    <div class="text-center">
        <small>
            Copyright &copy; 2016 - Melle Dijkstra<br/>
            All rights reserved
        </small>
    </div>
</div>