$ff-sans: 'Open Sans', Arial, sans-serif;
$ff-serif: "Lora", Georgia, serif;
$ff-petit: 'Petit Formal Script', Arial, "Times New Roman", serif;
$f-sml: 0.875rem;
$f-med: 1rem;
$f-semi: 1.25rem;
$f-lrg: 1.5rem;
$f-xlg: 4rem;
$f-2xl: 3rem;
$f-hero: 3.75rem;
$f-xhr: 4.5rem;
$f-2xh: 6rem;
$f-weight: 400;
$f-line-height: 1.5;
