/* Coolors Exported Palette - coolors.co/f05d5e-0f7173-e7ecef-272932-d8a47f */

/* HSL */
$color1: hsla(360%, 83%, 65%, 1);
$color2: hsla(181%, 77%, 25%, 1);
$color3: hsla(203%, 20%, 92%, 1);
$color4: hsla(229%, 12%, 17%, 1);
$color5: hsla(25%, 53%, 67%, 1);

/* RGB */
$color1: rgba(240, 93, 94, 1);
$color2: rgba(15, 113, 115, 1);
$color3: rgba(231, 236, 239, 1);
$color4: rgba(39, 41, 50, 1);
$color5: rgba(216, 164, 127, 1);