---
layout: default
head_js:
- '/assets/js/masonry.pkgd.min.js'
- '/assets/js/imagesloaded.pkgd.min.js'
foot_js:
- '/assets/js/stories.js'
---
<div id="guides-overview-page">
    <div id="page-loader-wrap">
        <div class="loader"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-12">
                <div id="collection-navigation">
                    {% for collection in site.collections %}
                        {% if collection.label == 'posts' %}
                            {% continue %}
                        {% endif %}
                        {% assign coll_url = '/writing/' | append: collection.label %}
                    <a class="collection-item {% if page.url == coll_url %}active{% endif %}" href="{{ coll_url }}" >
                        {{ collection.label }}
                        <div class="underline"></div>
                    </a>

                    {% endfor %}
                </div>
                <div class="no-gutter" id="grid"
                     >
                    <div class="grid-sizer col-xs-12 col-sm-12 col-md-6 col-lg-4"></div>
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>
