---
layout: default
head_css:
  - '/assets/css/story.css'
---
{% if site.url contains "localhost" %}
{% assign disqusId = "dev-melledijkstra" %}
{% else %}
{% assign disqusId = "live-melledijkstra" %}
{% endif %}
<!-- Twitter share button required scripts -->
<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<main id="story-view">
    <article>
        <img class="story-image" alt="Story Image" src="{{ page.image }}" />
        <div class="jumbotron">
            <h1 class="story-title">{{ page.title }}</h1>
            <hr style="width: 10%" />
            <div>
                <small class="story-date serif">{{ page.date | date: '%e %B %Y' }}</small>
            </div>
            {% assign img = page.image | remove: '/assets/images/stories/' %}
            {% if site.data.images contains img %}
                <p class="serif softcolor">Photo by <a target="_blank" href="{{site.data.images[img].url}}">{{site.data.images[img].owner}}</a></p>
            {% endif %}

            <div class="share-buttons">
                <!-- Twitter share button -->
                <a class="twitter-share-button" data-size="small"
                   href="https://twitter.com/intent/tweet?url={{ site.url | append: page.url | url_encode }}&text={{ page.title }}&via=dijkstrascience">Tweet</a>
                <!-- Facebook share button -->
                <div class="fb-share-button"
                     data-href="{{ site.url | append: page.url }}"
                     data-layout="button_count">
                </div>
                <!-- LinkedIn share button -->
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="{{ site.url | append: page.url }}"></script>
            </div>
        </div>
        <div id="story" class="container-fluid">
            {{ content }}

            <div class="clearfix"></div>
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
                Disqus.</a></noscript>
        </div>
    </article>
    <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */
        let disqus_config = function () {
            this.page.url = "{{ site.url | append: page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function () { // DON'T EDIT BELOW THIS LINE
            let d = document, s = d.createElement('script');
            s.src = 'https://{{disqusId}}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
</main>
