/**
* Melle's Stylesheet
*/

html, body {
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3 {
    font-weight: bold;
}

/*
    BOOTSTRAP OVERRIDES
*/

.kv-md-editor, .breadcrumb, .form-control, .btn, .alert {
    border-radius: 0;
}

.mel-navbar .navbar-toggle {
    border-color: #333;
}

.mel-navbar .navbar-toggle .icon-bar {
    background-color: #333;
}

/*
    MY STYLES
*/

.mel-navbar {
    background-color: #FFF;
    color: #2e2e2e;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.22);
}

.mel-navbar a {
    color: #2e2e2e !important;
}

.mel-navbar a:hover {
    color: #000 !important;
}

.mel-about-image {
    height: 200px;
    width: auto;
}

.mel-guide-preview {
    background-color: #FFF;
    padding: 5px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

pre {
    background-color: #2b2b2b;
    color: #fff;
}