/**
* Melle's Stylesheet
*/

/**
 * IMPORTS
 */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Material Design Icons */
@import url('//cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css');

/*
 Primary Site color: #DCCBA7
*/

/**********************************************************************************
 *
 *     Reset Styling
 *
 **********************************************************************************/

html, body {
    height: 100%;
    color: #3C4A53;
    background-color: #F1F1F1;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #9f8e6d;
}
a:hover {
    color: #746650;
}

::selection {
    background: rgba(15, 113, 115, 0.5);
}
::-moz-selection {
    background: rgba(15, 113, 115, 0.5);
}

h1 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

hr {
    height: 3px;
    background-color: #DCCBA7;
    border: none;
}

iframe {
    border: none;
    border-radius: 0;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline: 0 !important;
}
label {
    font-weight: 400;
}

/**********************************************************************************
 *
 *   Library Overrides
 *
 **********************************************************************************/

.form-control:focus,
.has-success .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.navbar {
    margin-bottom: 0;
}

.kv-md-editor, .breadcrumb, .form-control, .btn, .alert, .badge, .label {
    border-radius: 0;
}

.wrap {
    height: 100%;
    overflow: auto;
    padding-bottom: 0;
}

/* Buttons */
.btn {
    border: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn-primary {
    color: #FFF;
    background-color: #7f7f7f;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #DCCBA7 !important;
}
.btn-default {
    background-color: #D3D3D3;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    color: #FFF;
    background-color: #7f7f7f !important;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

pre code {
    white-space: inherit;
}

.modal-content {
    border-radius: 0;
}

/* Link Pager */
.link-pager-page a,
.link-pager-next-page a,
.link-pager-prev-page a {
    color: #353535 !important;
}
.link-pager-active a {
    color: #FFF !important;
    background-color: #DCCBA7 !important;
    /*background-color: #DCCBA7 !important;*/
}

/**********************************************************************************
 *
 *    Helpers
 *
 **********************************************************************************/

.no-margin { margin: 0; }
.no-margin-lr { margin-left: 0; margin-right: 0; }
.no-margin-tb { margin-top: 0;  margin-bottom: 0; }

.margin-5 { margin: 5px; }
.margin-10 { margin: 10px; }
.margin-15 { margin: 15px; }
.margin-20 { margin: 20px; }

.margin-tb-5 { margin-top: 5px; margin-bottom: 5px; }
.margin-tb-10 { margin-top: 10px; margin-bottom: 10px; }
.margin-tb-15 { margin-top: 15px; margin-bottom: 15px; }
.margin-tb-20 { margin-top: 20px; margin-bottom: 20px; }

.margin-lr-5 { margin-left: 5px; margin-right: 5px; }
.margin-lr-10 { margin-left: 10px; margin-right: 10px; }
.margin-lr-15 { margin-left: 15px; margin-right: 15px; }
.margin-lr-20 { margin-left: 20px; margin-right: 20px; }

.no-padding { padding: 0; }
.no-padding-lr { padding-left: 0; padding-right: 0; }
.no-padding-tb { padding-top: 0;  padding-bottom: 0; }

.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }

.padding-tb-5 { padding-top: 5px; padding-bottom: 5px; }
.padding-tb-10 { padding-top: 10px; padding-bottom: 10px; }
.padding-tb-15 { padding-top: 15px; padding-bottom: 15px; }
.padding-tb-20 { padding-top: 20px; padding-bottom: 20px; }

.padding-lr-5 { padding-left: 5px; margin-right: 5px; }
.padding-lr-10 { padding-left: 10px; margin-right: 10px; }
.padding-lr-15 { padding-left: 15px; margin-right: 15px; }
.padding-lr-20 { padding-left: 20px; margin-right: 20px; }

.no-decoration { text-decoration: none; !important }

.no-link,
.no-link:hover,
.no-link:active,
.no-link:visited,
.no-link:focus { color: inherit; text-decoration: inherit; }

.text-lg { font-size: 2.3em; }
.text-md { font-size: 1.5em; }
.text-sm { font-size: 0.8em; }

.block {
    display: block;
    width: 100%;
}

.full-height {
    height: 100%;
}

/**
 * Melle's Colors :D
 */
/* BACKGROUND COLORS */
.bg-primary {
    background-color: rgba(231, 236, 239, 1);
    color: #242424;
}
.bg-pundo {
    background-color: rgba(240, 93, 94, 1);
    color: white;
}
.bg-beja {
    background-color: rgba(216, 164, 127, 1);
}
.bg-kollo {
    background-color: rgba(15, 113, 115, 1);
    color: white;
}
.bg-darre {
    background-color: rgba(39, 41, 50, 1);
    color: white;
}

/* TEXT COLORS */
.txt-primary {
    background-color: rgba(231, 236, 239, 1);
    color: #242424;
}
.txt-pundo {
    background-color: rgba(240, 93, 94, 1);
    color: white;
}
.txt-beja {
    background-color: rgba(216, 164, 127, 1);
}
.txt-kollo {
    background-color: rgba(15, 113, 115, 1);
    color: white;
}
.txt-darre {
    background-color: rgba(39, 41, 50, 1);
    color: white;
}

/**********************************************************************************
 *
 *    General Styles
 *
 **********************************************************************************/

/* LOADING SCREEN */
#page-loader-wrap {
    position: fixed;
    top: 0;

    text-align: center;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2000;
}

.loader {
    display: block;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #DCCBA7;
    border-radius: 50%;

    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#page-loader-wrap .loader {
    position: fixed;
    left: 0;
    right: 0;
    margin: 20% auto;
    z-index: 2001;
}

#guide-loader-wrap {
    display: none;
}

#guide-loader-wrap .loader {
    border-width: 5px;

    width: 30px;
    height: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.brand-dot {
    font-size: 40px;
    color: #DCCBA7;
}

.guide-preview {
    background-color: #FFF;
    padding: 5px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

pre {
    background-color: #2b2b2b;
    color: #fff;
    border-radius: 0;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/**********************************************************************************
 *
 *   Main Layout Styling
 *
 **********************************************************************************/

/*----------------------------------------------------------------------------------*
 *  Layout Wrappings
 *----------------------------------------------------------------------------------*/

#wrapper {
    height: 100%;
    overflow: auto;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;

    -webkit-transition: margin 0.5s ease;
    -moz-transition: margin 0.5s ease;
    -o-transition: margin 0.5s ease;
    transition: margin 0.5s ease;
}

#wrapper.toggled #page-content {
    position: absolute;
    /*margin-left: 300px;*/
}

#slanted-box {
    display: none;
    position: absolute;
    height: 200px;
    width: 100%;
}
#slanted-box #clipped-path {
    position: relative;
    width: 100%;
    height: 200px;
    background: rgba(220, 203, 167, 0.22);

    clip-path: polygon(0 0,100% 0,100% 50%,0 100%);
}

/*----------------------------------------------------------------------------------*
 *  Navigation
 *----------------------------------------------------------------------------------*/

/* Toggle Button */
.navbar-toggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(255,255,255,0.35);
    border-radius: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
}

/* SIDEBAR STYLES */
#sidebar-wrapper {
    background: #FEFEFE;

    -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);

    z-index: 1000;
    position: fixed;
    top: 0;
    left: -310px;
    padding: 25px;
    width: 300px;
    height: 100%;
    overflow-y: auto;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
    width: 5px;
}
#sidebar-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
#sidebar-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#wrapper.toggled #sidebar-wrapper {
    left: 0;
}

.sidebar-nav {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    /*text-indent: 20px;*/
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #6b6b6b;
}
.sidebar-nav li a:hover {
    color: #a5964b;
}
.sidebar-nav i + span {
    padding-left: 20px;
}

.social-buttons a {
    color: #c3c3c3;
}
.social-buttons .github:hover {
    color: #333333;
}
.social-buttons .twitter:hover {
    color: #50ABF1;
}
.social-buttons .linkedin:hover {
    color: #0077B5;
}
.social-buttons .stackoverflow:hover {
    color: #F48024;
}

/** SIDE BAR LOGIC */
@media(min-width: 550px) {
    #sidebar-wrapper {
        width: 250px;
        left: 0;
    }

    .navbar-toggle {
        display: none;
    }

    #page-content {
        position: relative;
        padding-left: 250px;
    }
}

@media(min-width: 950px) {
    #sidebar-wrapper {
        width: 300px;
    }

    #page-content {
        position: relative;
        padding-left: 300px;
    }
}

/**********************************************************************************
 *
 *   Guide Styling
 *
 **********************************************************************************/

/*----------------------------------------------------------------------------------*
 *  Guide View Page
 *----------------------------------------------------------------------------------*/
#guide-view {
    max-width: 1000px;
}

/* Everything in the container is parsed from the markdown */
.guide-container {
    word-wrap: break-word;
}
.guide-container h1 {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
.guide-date {
    color: #87949c;
}
.guide-title {
    margin: 0;
}
.guide-header {
    margin-bottom: 20px;
}

/*----------------------------------------------------------------------------------*
 * Guides page & Guide items
 *----------------------------------------------------------------------------------*/
#search-menu {
    margin-right: 25px;
}
@media (max-width: 992px) {
    #search-menu {
        position: static !important;
        margin-bottom: 40px;
        margin-right: 0;
    }
}

.guide-item .image {
    width: 100%;
    height: auto;
    max-width: 800px;
}
/* this class makes sure the guide image doesn't get to big */
.guide-item .trim {
    max-height: 400px;
    overflow: hidden;
}
.guide-item .title {
    font-size: 24px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    display: inline-block;
}
.guide-item .title a {
    color: inherit;
}
.guide-item .sneak-peek {
    margin: 10px 0 15px 0;
    color: #9e9e9e;
}
.guide-item .info {
    font-size: 13px;
    color: #555555;
}

#grid {
    padding-bottom: 30px;
    margin: 15px auto 0;
}

.programming-language-tooltip {
    font-size: 13px;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}

/**********************************************************************************
 *
 *   Project Styling
 *
 **********************************************************************************/

/*----------------------------------------------------------------------------------*
 * Portfolio & Project items
 *----------------------------------------------------------------------------------*/
.project-item {
    width: 100%;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
.project-item:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.project-item .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;

    display: table-cell;
    vertical-align: middle;

    opacity: 0;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
.project-item > a {
    text-decoration: none;
}
.project-item:hover .title {
    opacity: 1;
}

/***************
 *  Cards
 ***************/
.card {
    position: relative;
    background-color: white;

    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    border-radius: 3px;
    overflow: hidden;
}
.card-content {
    padding: 15px;
}
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
    margin: 0;
}

.border-radiusless, .link-pager-next-page *, .link-pager-prev-page * {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.shadow-text span {
    -webkit-transition: text-shadow 0.1s linear;
    -moz-transition: text-shadow 0.1s linear;
    -ms-transition: text-shadow 0.1s linear;
    -o-transition: text-shadow 0.1s linear;
    transition: text-shadow 0.1s linear;

    text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
}

.shadow-text span:hover {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.wip-banner {
    background-color: #DCCBA7;
    color: #FFFFFF;
}
